.main{
    width: 100%;
    height:100vh;
    background-color: rgba(32,40,48,255);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.main-child{
    width: 315px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    width: 100%;
    height: 48px;
    border:none;
    outline: none;
    margin-top: 10px;
    border-radius: 6px;
    background-color: #191e23;
   padding-left: 10px;
   color: #8f9fa2;
}
.mybut{
    width: 100%;
    height: 48px;
    margin-top: 10px;
    border-radius: 6px;
    background-color: #01ac2d;
    border:1px solid #01ac2d;
    cursor: pointer;
    color: white;
}